$green-dark: #466830;
$green-medium: #86af6b;
$green-regular: #80c156;
$green-light: #98d372;

$red-dark: #722837;
$red-regular: #cc4458;
$red-medium: #ba3040;

$navy-dark: #161a1e;
$navy-background: #191e23; //trading stance background color
$navy-regular: #252c36; //Header background color
$navy-medium: #384555;
$navy-headers: #313d4c;

$text-dark: #4e5863;
$text-light: #b0bac1;

$sidebar-background: #23292d;
$sidebar: #2e353d;
$sidebar-header: #727c84;
$sidebar-text: #747f89;
$sidebar-text-light: #b0bac1;

$gray-neutral: #cccccc;
$bitcoin-yellow: #ebc256;